@model Shop.Models.EditProduct

@{
    ViewBag.Title = Model.IsEdit ? "Редакирование товара" : "Добавление товара";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@if (!string.IsNullOrWhiteSpace(ViewBag.notice)) {
    <div class="alert alert-success">
        <button type="button" class="close" 
                data-dismiss="alert">&times;</button>
        @ViewBag.notice
    </div>
}

@using (Html.BeginForm("Save", "Product", new {area = ""}, FormMethod.Post, new {@class="form-horizontal"})) {
    @Html.HiddenFor(m => m.Id)
    <div class="well">
        <ul class="unstyled">
            <li class="control-group">
                @Html.LabelFor(m => m.Name, new {@class="control-label"})
                <div class="controls">
                    @Html.EditorFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </li>
            <li class="control-group">
                @Html.LabelFor(m => m.Category, new {@class="control-label"})
                <div class="controls">
                    @Html.EditorFor(m => m.Category)
                    @Html.ValidationMessageFor(m => m.Category)
                </div>
            </li>
            <li class="control-group">
                @Html.LabelFor(m => m.Vendor, new {@class="control-label"})
                <div class="controls">
                    @Html.EditorFor(m => m.Vendor)
                    @Html.ValidationMessageFor(m => m.Vendor)
                </div>
            </li>
            <li class="control-group">
                @Html.LabelFor(m => m.Description, new {@class="control-label"})
                <div class="controls">
                    @Html.EditorFor(m => m.Description)
                    @Html.ValidationMessageFor(m => m.Description)
                </div>
            </li>
            <li>
                <div class="controls">
                    <button type="submit" class="btn btn-primary">
                        <i class="icon-ok"></i> Сохранить
                    </button>
                </div>
            </li>
        </ul>
    </div>
}
