@model Shop.Models.EditProduct

@{
    ViewBag.Title = Model.IsEdit ? "Редакирование товара" : "Добавление товара";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@if (!string.IsNullOrWhiteSpace(ViewBag.notice)) {
    <div class="alert alert-success">
        <button type="button" class="close" 
                data-dismiss="alert">&times;</button>
        @ViewBag.notice
    </div>
}

@using (Html.BeginForm("Save", "Product", new {area = ""}, FormMethod.Post, new {@class="form-horizontal"})) {
    @Html.HiddenFor(m => m.Id)
    <div class="well">
        <ul class="unstyled">
            <li class="control-group">
                @Html.LabelFor(m => m.Name, new {@class="control-label"})
                <div class="controls">
                    @Html.EditorFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </li>
            <li class="control-group">
                @Html.LabelFor(m => m.CategoryId, new {@class="control-label"})
                <div class="controls">
                    @Html.DropDownListFor(x => x.CategoryId, Model.Categories.Select(x => new SelectListItem
                        {
                            Selected = x.Id == Model.CategoryId,
                            Text     = x.Name,
                            Value    = x.Id.ToString()
                        }))
                    @Html.ValidationMessageFor(m => m.CategoryId)
                </div>
            </li>
            <li class="control-group">
                @Html.LabelFor(m => m.VendorId, new {@class="control-label"})
                <div class="controls">
                    @Html.DropDownListFor(x => x.VendorId, Model.Vendors.Select(x => new SelectListItem
                        {
                            Selected = x.Id == Model.VendorId,
                            Text     = x.Name,
                            Value    = x.Id.ToString()
                        }))
                    @Html.ValidationMessageFor(m => m.VendorId)
                </div>
            </li>
            <li class="control-group">
                @Html.LabelFor(m => m.Description, new {@class="control-label"})
                <div class="controls">
                    @Html.EditorFor(m => m.Description)
                    @Html.ValidationMessageFor(m => m.Description)
                </div>
            </li>
            <li>
                <div class="controls">
                    <button type="submit" class="btn btn-primary">
                        <i class="icon-ok"></i> Сохранить
                    </button>
                </div>
            </li>
        </ul>
    </div>
}
