@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="author" content="">
    
    @Styles.Render("~/Content/css")
</head>
<body>
    @{ Html.RenderPartial("_Menu"); }
    
    <div class="container">
        @RenderBody()
        @Scripts.Render("~/Scripts/jquery")
        @Scripts.Render("~/Scripts/bootstrap")
        @RenderSection("Scripts", false)
    </div>
</body>
</html>
