@model Shop.Areas.Security.Models.RegisterModel

@{
    ViewBag.Title = "Shop - Регистрация";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
@section scripts
{
    @Scripts.Render("~/Scripts/jqueryval")
}
<h2>Регистрация</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    
    <fieldset>
        <legend>Введите данные нового пользователя</legend>
        <ul class="unstyled">
            <li>
                @Html.LabelFor(m => m.Username)
                @Html.EditorFor(m => m.Username)
                @Html.ValidationMessageFor(m => m.Username)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.EditorFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.EditorFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </li>
        </ul>
        
        <input type="submit" value="Создать" />
    </fieldset>
}