@model Shop.Areas.Security.Models.RegisterModel
@{
    ViewBag.Title = "Регистрация";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<h2>Регистрация нового пользователя</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Введите инфомацию о новой учетной записи</legend>
        <ul class="unstyled">
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ul>
        <input type="submit" value="Создать нового пользователя" />
    </fieldset>
}